{
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "^[^.~/]",
    "^~((?!(styles\\.module|styles/global)).)*$",
    "^[./]((?!(styles\\.module|styles/global)).)*$",
    "^~((?!styles/global).)*$",
    "^[./]((?!styles/global).)*$",
    "^~",
    "^[./]"
  ]
}
