.container {
  margin-bottom: 6rem;
}

.firstYearRow {
  padding-top: 1rem;
}

.postRow {
  display: flex;
  margin-left: 2rem;
}

.firstPostRow {
  margin-top: 0.5rem;
}

.postDate {
  min-width: 7rem;
}
