.firstYearRow {
  padding-top: 1rem;
}

.postRow {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 2rem;

  @media(max-width: 870px) {
    flex-direction: column;
  }
}

.firstPostRow {
  margin-top: 0.5rem;
}

.postDate {
  min-width: 8rem;
  padding-right: 1rem;
  text-align: right;

  @media(max-width: 870px) {
    text-align: left;
  }
}
