@import "src/assets/styles/colors";

.hr {
  width: 20%;
  background-color: $hrBackground;
  margin: 3rem auto;
  height: 0.125rem;
  border: none;
}

.wide {
  width: 80%;
}

.spaceBefore_half {
  margin-top: 1.5rem;
}

.spaceBefore_none {
  margin-top: 0;
}

.spaceAfter_half {
  margin-bottom: 1.5rem;
}

.spaceAfter_none {
  margin-bottom: 0;
}
