@import "src/assets/styles/colors";

.container pre {
  word-wrap: normal;
  border-radius: 0.3rem;
}

.container.withFilename pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filename {
  display: block;
  background-color: $codeFilenameBackground;
  font-family: monospace;
  padding: 0.3em 0 0.3em 1.5em;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
