@import "src/assets/styles/colors";

.container pre {
  word-wrap: normal;
  border-radius: 0.3rem;
}

.container.withFilename pre {
  margin-top: 0;
}

.tab {
  position: relative;
  left: 2rem;
  max-width: calc(100% - 4rem);
  display: inline-block;
  color: $textAccent;
  background-color: $codeFilenameBackground;
  font-family: monospace;
  padding: 0.3em 0.5rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.filename {
  padding-left: 0.5rem;
  white-space: normal;
  word-break: break-word;
}
