@import "src/assets/styles/colors";

.badgeContainer {
  display: inline-flex;
  margin: 1rem 0.5rem 0 0;
}

.badge {
  display: inline;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background-color: $tagBackground;
}
