@import 'src/assets/styles/colors';

.pageHeader {
  height: 2rem;
  padding: 1vmin 4vmin;
}

.title {
  margin-top: -3rem;
}

.titleStandalone {
  padding-bottom: 1rem;
}

.title, .titleStandalone {
  position: relative;
  margin-bottom: 3rem;

  &:after {
    content: "";
    position: absolute;
    top: -10rem;
    bottom: -1rem;
    left: 0;
    right: 0;
    background: $heroBackground;
    z-index: -1;
    transform: skew(0, -2deg);
    transform-origin: top;
  }
}

