@import "src/assets/styles/colors";

.container {
  width: 1rem;
  display: inline-block;
}

.flexContainer {
  display: flex;
}

.noStroke {
  stroke: none;
}

.forceLightFill {
  fill: $lightIconAccent !important;
}

.forceDarkFill {
  fill: $darkIconAccent !important;
}
