@import "src/assets/styles/colors";

.slideTouchTarget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slideWrapper {
  background-color: black;
}

.slide {
  background-color: $bodyBackground;
}

.slideWrapper_title {
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $heroBackground;
  }
}

.logoContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
}

.logoContainerTitle {
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
}
