@import 'src/assets/styles/colors';

.container {
  min-height: calc(100vh - 6rem);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details {
  margin-top: 1rem;
}

.aboutBlockSpacing {
  margin-top: 2rem;
}
