.container {
  width: 90%;
  max-width: 675px;
  margin: 2rem auto;
  word-wrap: break-word;

  &.wide {
    max-width: 800px;
  }
}

.spaceBefore_half {
  margin-top: -1rem;
}

.spaceBefore_none {
  margin-top: -2rem;
}

.spaceAfter_half {
  margin-bottom: 1rem;
}

.spaceAfter_half + .container {
  margin-top: 1rem;
}

.spaceAfter_none {
  margin-bottom: 0;
}

.spaceAfter_none + .container {
  margin-top: 0;
}
