.split_row, .split_column {
  display: flex;
  width: 100%;
  height: 100%;
}

.split_row {
  flex-direction: row;
}

.split_column {
  flex-direction: column;
}

.splitChild, .splitChild_noGrow {
  position: relative;
}

.splitChild {
  flex: 1;
}

.splitChild_noGrow {
  flex: 0;
}
