// click prompt / hr / side-arrows

$primary100: #FEF3EE;
$primary200: #ffdbdb;
$primary250: #FEB0B0;
$primary400: #FF656D;
$primary700: #BF3F4C;

$headingLight: $primary100;
$subheadingLight: $primary250;
$textDark: #444;
$textAccent: #666;

$hrBackground: $primary250;
$codeFilenameBackground: $primary200;
$heroBackground: $primary400;
$bodyBackground: $primary100;

$linkColor: $primary400;
$linkHover: $primary700;
$linkLightColor: $primary250;
$linkLightHover: $primary100;
$linkUltraLightColor: $primary100;
$linkUltraLightHover: $primary250;

$imageCaption: $textAccent;
