// click prompt / hr / side-arrows

$primary100: #FEF3EE;
$primary250: #FEB0B0;
$primary400: #FF656D;
$primary700: #BF3F4C;

$headingLight: $primary100;
$subheadingLight: $primary250;
$textDark: #444;

$hrBackground: $primary250;
$heroBackground: $primary400;
$bodyBackground: $primary100;

$linkColor: $primary400;
$linkHover: $primary700;
$linkLightColor: $primary250;
$linkLightHover: $primary100;

