// https://coolors.co/fef3ee-ffdbdb-feb0b0-ff656d-bf3f4c
$primary100: #FEF3EE;
$primary200: #ffdbdb;
$primary250: #FEB0B0;
$primary400: #FF656D;
$primary700: #BF3F4C;

$info200: #DBF0FF;
$info400: #2f8dd2;

$warning200: #FFE8DB;
$warning400: #FF9666;

$disabled: #C7C7C7;

$headingLight: $primary100;
$subheadingLight: $primary250;
$textDark: #444;
$textAccent: #666;

$hrBackground: $primary250;
$codeFilenameBackground: $primary200;
$heroBackground: $primary400;
$bodyBackground: $primary100;
$tagBackground: $primary400;
$tableHeaderBackground: $primary400;

$tableHeaderBorder: $primary250;
$tableBodyBorder: $primary250;

$lightIconAccent: $primary100;
$darkIconAccent: $primary400;

$linkColor: $primary400;
$linkHover: $primary700;
$linkLightColor: $primary250;
$linkLightHover: $primary100;
$linkUltraLightColor: $primary100;
$linkUltraLightHover: $primary250;

$imageCaption: $textAccent;

$alertBackgroundInfo: $info200;
$alertBackgroundWarning: $warning200;
$alertAccentInfo: $info400;
$alertAccentWarning: $warning400;

$buttonLightBackground: $primary100;
$buttonLightText: $primary400;
