@import 'src/assets/styles/colors';

.link {
  text-decoration: none;
  color: $linkColor;
  &:not(.noUnderline) {
    border-bottom: dashed 1px $linkColor;
  }

  path {
    fill: $linkColor;
  }

  &:hover {
    border-bottom-color: $linkHover;
    color: $linkHover;

    path {
      fill: $linkHover;
    }
  }
}

.linkLight {
  text-decoration: none;
  color: $linkLightColor;
  &:not(.noUnderline) {
    border-bottom: dashed 1px $linkLightColor;
  }

  path { /* stylelint-disable-line no-descending-specificity */
    fill: $linkLightColor;
  }

  &:hover {
    border-bottom-color: $linkLightHover;
    color: $linkLightHover;

    path {
      fill: $linkLightHover;
    }
  }
}

.linkUltraLight {
  text-decoration: none;
  color: $linkUltraLightColor;
  &:not(.noUnderline) {
    border-bottom: dashed 1px $linkUltraLightColor;
  }

  path { /* stylelint-disable-line no-descending-specificity */
    fill: $linkUltraLightColor;
  }

  &:hover {
    border-bottom-color: $linkUltraLightHover;
    color: $linkUltraLightHover;

    path {
      fill: $linkUltraLightHover;
    }
  }
}
